<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-MySQL</title>
    <link href="https://bootswatch.com/5/minty/bootstrap.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="/persona" class="navbar-brand">CRUD NodeJs MySQL</a>
        <a href="/persona" class="navbar-toggler">Persona</a>
        <a href="/poliza" class="navbar-toggler">Poliza</a>
        <a href="/contacto" class="navbar-toggler">Contacto</a>
        <a href="/telefono" class="navbar-toggler">Telefono</a>
        <a href="/tipo_contacto" class="navbar-toggler">Tipo Contacto</a>
        <a href="/tomador" class="navbar-toggler">Tomador</a>
        <a href="/vehiculo" class="navbar-toggler">Vehículo</a>
    </nav>